.login{
    height: 50%;
    width: 50%;
    float : right;
    margin-top:auto;   
    
   
}
.reg{
    height: 50%;
    width: 40%;
    float :left; 
   
    margin-left:10%;   
}
input{
    padding:0.5%;
    margin:1%;
    
}